# Kenton's personal backup script.
/backup.sh

# Eclipse-generated stuff.
.cproject
.project
.pydevproject
.settings
.dist-buildwrapper
/c++/gen/

# Code you may want to map in from elsewhere.
/c++/src/base
/c++/src/capnp/compilerbin
/c++/src/ekam
/c++/src/os
/c++/src/protobuf
/c++/src/snappy
/c++/src/samples

# Ekam build artifacts.
/c++/tmp/
/c++/bin/

# setup-ekam.sh
/c++/.ekam

# Autotools build artifacts.
/c++/**/*.o
/c++/**/*.lo
/c++/**/*.la
/c++/**/.dirstamp
/c++/**/.deps/
/c++/.libs/
/c++/m4/
/c++/stamp-h1
/c++/config.h.in
/c++/config.h
/c++/config.log
/c++/config.status
/c++/configure
/c++/Makefile
/c++/Makefile.in
/c++/aclocal.m4
/c++/autom4te.cache/
/c++/build-aux/
/c++/libtool
/c++/capnp
/c++/capnpc-c++
/c++/capnpc-capnp
/c++/test_capnpc_middleman
/c++/src/capnp/test*.capnp.*

# setup-autotools.sh
/c++/gtest

# Jekyll-generated site
/doc/_site

# Checkout of gh-pages made by /doc/push-site.sh
/doc/.gh-pages

# cabal-install artifacts
/compiler/dist/
