# Kenton's personal backup script.
/backup.sh

# Eclipse-generated stuff.
.cproject
.project
.pydevproject
.settings
.dist-buildwrapper
/c++/gen/

# Code you may want to map in from elsewhere.
/c++/src/base
/c++/src/capnproto/compilerbin
/c++/src/ekam
/c++/src/os
/c++/src/protobuf
/c++/src/snappy

# Ekam build artifacts.
/c++/tmp/
/c++/bin/

# setup-ekam.sh
/c++/.ekam

# Jekyll-generated site
/doc/_site

# Checkout of gh-pages made by /doc/push-site.sh
/doc/.gh-pages

# cabal-install artifacts
/compiler/dist/
