common --enable_bzlmod

import %workspace%/../tools/bazel/base.bazelrc

# build with ssl, zlib and bazel by default
build --//src/kj:openssl=True
build --//src/kj:zlib=True
build --//src/kj:brotli=True
